* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* navbar */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
  height: 60px;
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-link {
  padding: 0 10px 0 0;
  font-size: 16px;
}
 
.logo-text {
  margin-right: auto;
  font-size: 26px;
}
.nav-logo {
  width: 60px;
}

/* main content */
.main {
  margin: 57px 25px;
}

.main-content > li {
  padding-block: 8px;
}
/* footer */
.footer{
  position:absolute;
  left:0;
  bottom:0;
  padding-bottom:60px;
  margin: 0 25px 0 25px;
}
